extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product_title #{product.title}
                        .card_image
                            img(src="https://www.logolynx.com/images/logolynx/s_ef/eff98a934aa36ddd98c9f5bc39c46129.png", alt="Test")
                        .card_content
                            h2.product_price $19.99
                            p.product_description A very interesting book about so many even more
                        .card_actions
                            button.btn Add to Cart
        else
            h1 No Products!