button {
  font: inherit;
  border: 1px solid #6200ff;
  color: #6200ff;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: #6200ff;
  color: white;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  margin: 1rem;
  width: 20rem;
  max-width: 95%;
}

.product_title {
  font-size: 1.2rem;
  text-align: center;
}

.product_price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product_description {
  text-align: center;
}
